.box{
    box-shadow: 3px 3px 7px 7px rgb(137, 134, 134);
    margin:0% 7% 4% 7%;
    padding: 5% 0% 40% 0;
    background:white;
    

}

.main{
    background:white;
    text-align:center;
}

.bg{
    width: 85%;
    height: 100%;
}

