.box{
    box-shadow: 3px 3px 7px 7px rgb(137, 134, 134);
    margin:0% 0% 4% 0%;
    padding: 5% 0 40% 0;
    width:60%;
    height:80%;
    background:white;

}

.main{
    background:white; 
}
/* .main ,.box{
/*     background-image: url("jh.jpg"); */
    /* background-repeat:repeat; */
/*     background-size: 6%; */
    /* background */
/* } */
/* .bg{
    width: 70%;
    height: 90%;
} */ */
