.box{
    box-shadow: 3px 3px 7px 7px rgb(137, 134, 134);
    margin:0% 0% 4% 0%;
    padding: 5% 10% 40% 10;
    background:white;
    

}

.main{
    background:white;
    text-align:center;
}

.bg{
    width: 85%;
    height: 100%;
}

